aar-doc
git+https://github.com/ansible-community/ansible-lint.git
https://github.com/ansible/ansible/archive/devel.tar.gz
jmespath
molecule-plugins[docker]@git+https://github.com/ansible-community/molecule-plugins.git
molecule-plugins[vagrant]@git+https://github.com/ansible-community/molecule-plugins.git
molecule==25.1.0
passlib
tox
