aar-doc
git+https://github.com/ansible-community/ansible-lint.git
git+https://github.com/ansible/ansible.git
git+https://github.com/ansible/molecule.git
jmespath
molecule-plugins[docker]@git+https://github.com/ansible-community/molecule-plugins.git
molecule-plugins[vagrant]@git+https://github.com/ansible-community/molecule-plugins.git
passlib
tox
