# {{ ansible_managed }}

password requisite pam_pwquality.so retry=3
{% if ansible_os_family == 'Debian' %}
password required pam_pwhistory.so use_authtok remember=5
password [success=1 default=ignore] pam_unix.so obscure use_authtok try_first_pass sha512 rounds=65536
{% else %}
password [success=1 default=ignore] pam_unix.so obscure use_authtok try_first_pass sha512 rounds=65536 remember=5
{% endif %}
password requisite pam_deny.so
password required pam_permit.so
