# {{ ansible_managed }}

password	required			pam_cracklib.so retry=3 maxrepeat=3 minlen=15 dcredit=-1 ucredit=-1 ocredit=-1 lcredit=-1 difok=8
password	[success=1 default=ignore]	pam_unix.so obscure use_authtok try_first_pass sha512 rounds=65536 remember=5
password	requisite			pam_deny.so
password	required			pam_permit.so
