# {{ ansible_managed }}

auth required pam_tally.so file=/var/log/faillog deny=5 unlock_time=900
auth	[success=1 default=ignore]	pam_unix.so
auth	requisite			pam_deny.so
auth	required			pam_permit.so
