# {{ ansible_managed }}

{% if ansible_os_family == 'Debian' %}
password  [success=1 default=ignore]  pam_unix.so obscure use_authtok try_first_pass sha512 rounds=65536
password  required    pam_pwhistory.so remember=5
{% else %}
password  [success=1 default=ignore]  pam_unix.so obscure use_authtok try_first_pass sha512 rounds=65536 remember=5
{% endif %}
password  requisite   pam_pwquality.so retry=3
password  requisite   pam_deny.so
password  required    pam_permit.so
