# {{ ansible_managed }}
{% if (ansible_distribution == "Ubuntu") and (ansible_distribution_major_version|int >= 20) %}
Include /etc/ssh/sshd_config.d/*.conf
{% endif %}

AcceptEnv {{ sshd_accept_env }}
AllowGroups {{ sshd_allow_groups }}
AllowAgentForwarding {{ sshd_allow_agent_forwarding }}
AllowTcpForwarding {{ sshd_allow_tcp_forwarding }}
AuthenticationMethods {{ sshd_authentication_methods }}
Banner {{ sshd_banner }}
ChallengeResponseAuthentication {{ sshd_challenge_response_authentication }}
Ciphers {{ sshd_ciphers }}
ClientAliveCountMax {{ sshd_client_alive_count_max|int }}
ClientAliveInterval {{ sshd_client_alive_interval|int }}
Compression {{ sshd_compression }}
GSSAPIAuthentication {{ sshd_gssapi_authentication }}
HostbasedAuthentication {{ sshd_hostbased_authentication }}
IgnoreUserKnownHosts {{ sshd_ignore_user_known_hosts }}
KerberosAuthentication {{ sshd_kerberos_authentication }}
KexAlgorithms {{ sshd_kex_algorithms }}
LogLevel {{ sshd_log_level }}
LoginGraceTime {{ sshd_login_grace_time|int }}
Macs {{ sshd_macs }}
MaxAuthTries {{ sshd_max_auth_tries|int }}
MaxSessions {{ sshd_max_sessions|int }}
MaxStartups {{ sshd_max_startups }}
PasswordAuthentication {{ sshd_password_authentication }}
PermitEmptyPasswords {{ sshd_permit_empty_passwords }}
PermitRootLogin {{ sshd_permit_root_login }}
PermitUserEnvironment {{ sshd_permit_user_environment }}
Port {{ sshd_port|int }}
PrintLastLog {{ sshd_print_last_log }}
PrintMotd {{ sshd_print_motd }}
RekeyLimit {{ sshd_rekey_limit }}
StrictModes {{ sshd_strict_modes }}
Subsystem {{ sshd_subsystem }}
TCPKeepAlive {{ sshd_tcp_keep_alive }}
UseDNS {{ sshd_use_dns }}
UsePAM {{ sshd_use_pam }}
X11Forwarding {{ sshd_x11_forwarding }}
