# {{ ansible_managed }}
# https://wiki.mozilla.org/Security/Guidelines/OpenSSH#Modern_.28OpenSSH_6.7.2B.29
# CCE-27320-1
# CCE-80220-7
# CCE-80221-5
# CCE-80222-3
# CCE-80223-1
# CCE-80224-9
# CCE-80225-6
# CCE-27433-2
# CCE-27082-7
# CCE-27377-1
# CCE-27413-4
# CCE-80226-4
# CCE-27445-6
# CCE-27471-2
# CCE-27314-4
# CCE-27363-1

Port 22
Protocol 2

HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key

UsePrivilegeSeparation sandbox

KeyRegenerationInterval 1800
ServerKeyBits 1024

SyslogFacility AUTH
LogLevel VERBOSE

Compression delayed

LoginGraceTime 20
PermitRootLogin no
StrictModes yes

RSAAuthentication yes
PubkeyAuthentication yes

IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no

PermitEmptyPasswords no

ChallengeResponseAuthentication no

X11Forwarding yes
X11DisplayOffset 10
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

AcceptEnv LANG LC_*

Subsystem sftp /usr/lib/ssh/sftp-server -f AUTHPRIV -l INFO

GSSAPIAuthentication no
KerberosAuthentication no

UsePAM yes
AllowGroups {{ ssh_allow_groups }}
ClientAliveInterval 300
ClientAliveCountMax 0
PermitUserEnvironment no
KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
Macs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256
MaxAuthTries 4
MaxSessions 2
UseDNS yes
Banner /etc/issue.net
UseLogin no
