{% if (ansible_kernel is version("5", ">=")) %}
dev.tty.ldisc_autoload = {{ sysctl_dev_tty_ldisc_autoload | int }}
{% endif %}

### IPV4 related settings

{% for key, value in ipv4_sysctl_settings.items() %}
{{ key }} = {{ value }}
{% endfor %}

### Generic sysctl hardening

{% for key, value in generic_sysctl_settings.items() %}
{{ key }} = {{ value }}
{% endfor %}

### Conntrack settings, related to UFW

{% for key, value in conntrack_sysctl_settings.items() %}
{{ key }} = {{ value }}
{% endfor %}
