#jinja2: trim_blocks: True, lstrip_blocks: True
# Managed by Ansible role {{ ansible_role_name }}

### IPV6 related settings
{% if (system_has_ipv6 | bool) %}
net.ipv6.conf.{{ ansible_default_ipv4.interface | regex_replace("\\.", "/") }}.accept_ra_rtr_pref = {{ sysctl_net_ipv6_conf_accept_ra_rtr_pref | int }}
{% for key, value in ipv6_sysctl_settings.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endif %}
