---
- name: adduser.conf
  become: true
  ansible.builtin.template:
    src: etc/adduser.conf.j2
    dest: /etc/adduser.conf
    backup: 'yes'
    mode: 0644
    owner: root
    group: root
  tags:
    - adduser
    - users

- name: useradd
  become: true
  ansible.builtin.template:
    src: etc/default/useradd.j2
    dest: /etc/default/useradd
    backup: 'yes'
    mode: 0644
    owner: root
    group: root
  tags:
    - useradd
    - users
    - CCE-27355-7
    - CCE-80954-1
    - CIS-UBUNTU2004-5.5.1.4
    - UBTU-20-010409
...
