---
- name: disable apport
  become: true
  ansible.builtin.lineinfile:
    regexp: "^enabled="
    line: "enabled=0"
    dest: /etc/default/apport
    mode: 0644
    state: present
    create: 'no'
    backrefs: 'yes'
  register: default_apport
  notify:
    - mask apport
  when: ansible_os_family == "Debian"
  failed_when: default_apport.rc !=0 and not default_apport.rc == 257
  tags:
    - apport
...
