---
- name: mount /proc
  become: 'yes'
  mount:
    name: /proc
    src: none
    fstype: proc
    opts: rw,nosuid,nodev,noexec,relatime,hidepid=2
    state: present
  tags:
    - mount
    - proc

- name: stat /dev/shm
  stat:
    path: /dev/shm
  register: dev_shm
  tags:
    - mount
    - shm

- name: mount /dev/shm with noexec
  become: 'yes'
  mount:
    name: /dev/shm
    src: none
    fstype: tmpfs
    opts: rw,nosuid,nodev,noexec
    state: present
  when: dev_shm.stat.exists
  tags:
    - mount
    - shm

- name: create /tmp
  become: 'yes'
  template:
    src: etc/systemd/tmp.mount.j2
    dest: /lib/systemd/system/tmp.mount
    backup: 'yes'
    mode: 0644
    owner: root
    group: root
  tags:
    - systemd
    - tmp

- name: stat tmp.mount
  stat:
    path: /lib/systemd/system/tmp.mount
  register: tmp_mount
  tags:
    - mount
    - tmp

- name: unmask tmp.mount
  become: 'yes'
  systemd:
    name: tmp.mount
    masked: 'no'
  when: tmp_mount.stat.exists
  tags:
    - mount
    - systemd
    - tmp

- name: enable tmp.mount
  become: 'yes'
  systemd:
    name: tmp.mount
    enabled: 'yes'
  when: ansible_os_family == "RedHat" and tmp_mount.stat.exists
  tags:
    - mount
    - systemd
    - tmp
...
