---
- name: merge package lists
  ansible.builtin.set_fact:
    packages_merged: "{{ packages_debian + packages_redhat + packages_ubuntu }}"
  tags:
    - packages

- name: pre stat needrestart configuration directory
  become: 'yes'
  ansible.builtin.stat:
    path: /etc/needrestart/conf.d
  register: needrestart_directory_created
  tags:
    - needrestart
    - packages

- name: create needrestart directory
  become: 'yes'
  ansible.builtin.file:
    path: /etc/needrestart/conf.d
    state: directory
    owner: root
    group: root
    mode: 0755
    recurse: 'yes'
  when: ("needrestart" in packages_merged) and not needrestart_directory_created.stat.exists
  tags:
    - needrestart
    - packages

- name: stat needrestart configuration directory
  become: 'yes'
  ansible.builtin.stat:
    path: /etc/needrestart/conf.d
  register: needrestart_directory
  tags:
    - needrestart
    - packages

- name: get needrestart restart value
  ansible.builtin.command: grep -Rqo "$nrconf{restart} = 'l';" /etc/needrestart/conf.d/
  register: needrestart_restart_set
  when: needrestart_directory.stat.exists
  changed_when: needrestart_restart_set.rc != 0
  failed_when: needrestart_restart_set.rc > 1
  tags:
    - needrestart
    - packages

- name: configure needrestart
  become: 'yes'
  ansible.builtin.lineinfile:
    path: /etc/needrestart/conf.d/00-restart.conf
    line: "$nrconf{restart} = 'l';"
    create: 'yes'
    owner: root
    group: root
    mode: 0644
  when: needrestart_directory.stat.exists and needrestart_restart_set.rc != 0
  tags:
    - needrestart
    - packages

- name: debian family package installation
  become: 'yes'
  ansible.builtin.apt:
    name: "{{ packages_debian }}"
    state: present
    install_recommends: 'no'
  when: ansible_os_family == "Debian"
  tags:
    - apt
    - packages
    - CIS-UBUNTU2004-1.6.1.1
    - CIS-UBUNTU2004-4.1.1.1
    - CIS-UBUNTU2004-4.2.1.1
    - M1049
    - UBTU-20-010005

- name: ubuntu package installation
  become: 'yes'
  ansible.builtin.apt:
    name: "{{ packages_ubuntu }}"
    state: present
    install_recommends: 'no'
  when: ansible_distribution == "Ubuntu"
  tags:
    - apt
    - packages

- name: ubuntu update-notifier-common package installation
  become: 'yes'
  ansible.builtin.apt:
    name: "update-notifier-common"
    state: present
    install_recommends: 'no'
  when: ansible_distribution == "Ubuntu"
  tags:
    - apt
    - packages

- name: redhat family package installation
  become: 'yes'
  ansible.builtin.dnf:
    name: "{{ packages_redhat }}"
    state: present
  when: ansible_os_family == "RedHat"
  notify:
    - enable haveged
  tags:
    - dnf
    - packages
    - CCE-80847-7
    - CCE-81043-2
    - CCE-82859-0
    - CCE-83303-8
    - M1049

- name: apt purge package removal
  become: 'yes'
  ansible.builtin.apt:
    name: "{{ packages_blocklist }}"
    state: absent
    purge: 'yes'
  when: ansible_os_family == "Debian"
  register: apt_purge
  failed_when: apt_purge is not success and not "No package" in apt_purge.msg
  tags:
    - apt
    - packages
    - M1042

- name: generic package removal
  become: 'yes'
  ansible.builtin.package:
    name: "{{ packages_blocklist }}"
    state: absent
  register: package_removal
  failed_when: package_removal is not success and not "No package" in package_removal.msg
  tags:
    - apt
    - dnf
    - packages
    - CCE-80873-3
    - CCE-82182-7
    - CCE-82184-3
    - CCE-82436-7
    - CIS-UBUNTU2004-1.1.23
    - CIS-UBUNTU2004-1.5.3
    - CIS-UBUNTU2004-2.1.3
    - CIS-UBUNTU2004-2.1.16
    - CIS-UBUNTU2004-2.2.2
    - CIS-UBUNTU2004-2.2.3
    - CIS-UBUNTU2004-2.2.4
    - CIS-UBUNTU2004-2.2.6
    - M1042

- name: virtualbox package installation
  become: 'yes'
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
    install_recommends: 'no'
  vars:
    packages:
      - virtualbox-guest-dkms
      - virtualbox-guest-utils
  register: virtualbox_packages
  when: ansible_bios_version == "VirtualBox" and
        ansible_distribution == "Ubuntu"
  failed_when: virtualbox_packages is not success and not "No package matching" in virtualbox_packages.msg
  tags:
    - apt
    - packages
    - virtualbox

- name: vmware package installation
  become: 'yes'
  ansible.builtin.package:
    name: open-vm-tools
    state: present
  when: ansible_bios_version == "VMWare"
  tags:
    - packages
    - vmware

- name: qemu package installation
  become: 'yes'
  ansible.builtin.package:
    name: qemu-guest-agent
    state: present
  when: ansible_system_vendor == "QEMU"
  tags:
    - packages
    - qemu

- name: rng-tools package installation
  become: 'yes'
  ansible.builtin.package:
    name: rng-tools
    state: present
  when: ansible_local.cpuinfo.rdrand
  tags:
    - rng-tools
    - packages
    - CCE-82968-9

- name: stat sysstat default
  become: 'yes'
  ansible.builtin.stat:
    path: /etc/default/sysstat
  register: default_sysstat
  tags:
    - sysstat

- name: enable sysstat
  become: 'yes'
  ansible.builtin.lineinfile:
    regexp: "^ENABLED"
    line: 'ENABLED="true"'
    dest: /etc/default/sysstat
    mode: 0644
    state: present
    create: 'no'
    backrefs: 'yes'
  when: default_sysstat.stat.exists
  tags:
    - sysstat

- name: remove unneeded debian dependency packages
  become: 'yes'
  ansible.builtin.apt:
    autoclean: 'yes'
    autoremove: 'yes'
  when: ansible_os_family == "Debian"
  tags:
    - apt
    - packages
...
