---
- name: remove suid/sgid
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    mode: 'a-s'
    state: file
    follow: true
  register: output
  failed_when: "output.failed and not 'absent' in output.msg"
  with_items:
    - "{{ suid_sgid_blocklist }}"
  tags:
    - suid
    - CIS-UBUNTU2004-6.1.13
    - CIS-UBUNTU2004-6.1.14
...
