{% if ansible_distribution in ('Ubuntu', 'Debian') %}
{% if ansible_distribution == "Ubuntu" %}
Unattended-Upgrade::Allowed-Origins {
{% elif ansible_distribution == "Debian" %}
Unattended-Upgrade::Origins-Pattern {
{% endif %}
  {% for origin in automatic_updates.custom_origins -%}
  "{{ origin }}";
  {% endfor -%}
}
{% endif %}
