DPkg::Pre-Invoke {"mount -o remount,exec,nodev,nosuid /tmp";};
DPkg::Post-Invoke {"mount -o remount,mode=1777,strictatime,noexec,nodev,nosuid /tmp";};
DPkg::Pre-Invoke {"mount -o remount,exec,nodev,nosuid /var/tmp";};
DPkg::Post-Invoke {"mount -o remount,mode=1777,strictatime,noexec,nodev,nosuid /var/tmp";};
