[Unit]
Description=Aide Check

[Service]
Type=simple
{% if ansible_os_family == 'Debian' %}
ExecStart=/usr/bin/aide --check --config /etc/aide/aide.conf
{% else %}
ExecStart=/usr/sbin/aide --check
{% endif %}

[Install]
WantedBy=multi-user.target
