# {{ ansible_managed }}
# CCE-27002-5
# CCE-27051-2
# CCE-26486-1
# CCE-27124-7
# CCE-80205-8
# CCE-27123-9
# UBTU-16-010220

MAIL_DIR        /var/mail
FAILLOG_ENAB		yes
LOG_UNKFAIL_ENAB	no
LOG_OK_LOGINS		yes
SYSLOG_SU_ENAB		yes
SYSLOG_SG_ENAB		yes
FTMP_FILE	/var/log/btmp
SU_NAME		su
HUSHLOGIN_FILE	.hushlogin
ENV_SUPATH	PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ENV_PATH	PATH=/usr/local/bin:/usr/bin:/bin
TTYGROUP	tty
TTYPERM		0600
ERASECHAR	0177
KILLCHAR	025
UMASK		  077
PASS_MAX_DAYS		60
PASS_MIN_DAYS		1
PASS_WARN_AGE	  7
{% if ansible_distribution == "CentOS" %}
PASS_MIN_LEN    15
{% endif %}
UID_MIN			 1000
UID_MAX			60000
GID_MIN			 1000
GID_MAX			60000
LOGIN_RETRIES		5
LOGIN_TIMEOUT		60
CHFN_RESTRICT		rwh
DEFAULT_HOME no
USERGROUPS_ENAB no
ENCRYPT_METHOD SHA512
SHA_CRYPT_MAX_ROUNDS		10000
