# {{ ansible_managed }}
# CCE-80195-1

daily
su root syslog
rotate 7
create
dateext
compress

compresscmd /usr/bin/xz
uncompresscmd /usr/bin/unxz
compressext .xz

include /etc/logrotate.d

/var/log/wtmp {
    monthly
    create 0664 root utmp
    minsize 1M
    rotate 1
}

/var/log/btmp {
    missingok
    monthly
    create 0600 root utmp
    rotate 1
}
