# Managed by Ansible role {{ ansible_role_name }}

[Journal]
Compress={{ 'yes' if journald_compress else 'no' }}
ForwardToSyslog={{ 'yes' if journald_forwardtosyslog else 'no' }}
Storage={{ journald_storage }}
{{ 'SystemMaxUse=' ~ journald_system_max_use if journald_system_max_use else '#SystemMaxUse=' }}
