#jinja2: trim_blocks: True, lstrip_blocks: True
# Managed by Ansible role {{ ansible_role_name }}

[Login]
KillUserProcesses={{ 'true' if logind.killuserprocesses else 'false' }}
KillExcludeUsers={{ logind.killexcludeusers | join(' ') }}
IdleAction={{ logind.idleaction }}
IdleActionSec={{ logind.idleactionsec }}
RemoveIPC={{ 'true' if logind.removeipc else 'false' }}
{% if ansible_systemd.version | int >= 252 %}
StopIdleSessionSec={{ session_timeout }}
{% endif %}
