#jinja2: trim_blocks: True, lstrip_blocks: True
# Managed by Ansible role {{ ansible_role_name }}

[Resolve]
DNS={{ dns | join(' ') }}
FallbackDNS={{ fallback_dns | join(' ') }}
DNSSEC={{ dnssec }}
{% if ansible_systemd.version | int >= 239 %}
DNSOverTLS={{ dns_over_tls }}
{% endif %}
