# {{ ansible_managed }}

install bluetooth /bin/true
install firewire-core /bin/true
install net-pf-31 /bin/true
install soundcore /bin/true
install thunderbolt /bin/true
install usb-midi /bin/true
install usb-storage /bin/true
