
* This system is for authorized use only.
* Users (authorized or unauthorized) have no explicit or implicit expectation of privacy.
* Any or all uses of this system and all files on this system may be monitored.

