# {{ ansible_managed }}
# CCE-27333-4
# CCE-27214-6
# CCE-27293-0
# CCE-27200-5
# CCE-27360-7
# CCE-27345-8
# CCE-26631-2
# CCE-27115-5

difok = 15
minlen = 15
minclass = 3
dcredit = -1
ucredit = -1
lcredit = -1
ocredit = -1
maxrepeat = 3
