---
name: Molecule testing workflow
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "30 5 * * */3"
jobs:
  molecule-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get --assume-yes --no-install-recommends install python3-pip
          python3 -m pip install --user -U ansible ansible-lint \
            jmespath 'molecule==25.1.0' 'molecule-plugins[docker]==23.6.0' passlib
          python3 -m pip install --user 'requests==2.28.1'

      - name: Run ansible-lint
        run: |
          ansible-lint

      - name: Run molecule
        run: |
          ANSIBLE_REMOTE_TMP="/var/tmp/${USER}/ansible" \
          molecule test -s docker
