---
on:
  schedule:
    - cron: "0 5 * * */3"
name: Ansible Lint Main - Scheduled

permissions:
  contents: read

jobs:
  ansible-lint-main-scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get --assume-yes --no-install-recommends install python3-pip
          python3 -m pip install --user -U jmespath passlib

      - name: Lint Ansible Playbook
        uses: ./action-lint
